aniso8601==9.0.1
annotated-types==0.6.0
anyio==3.7.1
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Distance==0.1.3
dnspython==2.4.2
editdistance==0.6.2
email-validator==2.1.0.post1
eng-to-ipa==0.0.2
et-xmlfile==1.1.0
fastapi==0.104.1
flask-talisman==1.1.0
g2p-en==2.1.0
greenlet==3.0.1
gTTS==2.4.0
h11==0.14.0
httpcore==1.0.1
httptools==0.6.1
httpx==0.25.1
humanfriendly==10.0
idna==3.4
inflect==7.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
MarkupSafe==2.1.3
munkres==1.1.4
networkx==2.8.4
nltk==3.8.1
numpy==1.26.1
orjson==3.9.10
psycopg2==2.9.9
PyAudio==0.2.13
pydantic==2.4.2
pydantic-extra-types==2.1.0
pydantic-settings==2.0.3
pydantic_core==2.10.1
pydub==0.25.1
pyphen==0.14.0
pyreadline3==3.4.1
python-dotenv==1.0.0
python-multipart==0.0.6
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
six==1.16.0
sniffio==1.3.0
SpeechRecognition==3.10.0
SQLAlchemy==2.0.23
starlette==0.27.0
text-unidecode==1.3
tqdm==4.66.1
typing_extensions==4.8.0
ujson==5.8.0
unicodecsv==0.14.1
urllib3==2.0.7
uvicorn==0.24.0
watchfiles==0.21.0
websockets==12.0
Werkzeug==2.2.3
wsproto==1.2.0
