<!DOCTYPE html>
<html>
<head>
<style>
        /* CSS to style the table caption */
        caption{
            font-size: 20px; /* Set the font size to 20 pixels */
            font-weight: bold; /* Make the text bold */
            text-align: left; /* Center-align the caption */
        }
</style>
</head>
<body>

<form action="/result" method="POST">
<table border="1">
<caption>Phonetics Found :<br></br></caption>

<tr>
<!--Heading columns-->
<th>StudentID</th>
<th>FirstName</th>
<th>LastName</th>
<th>FirstName_Phonetics</th>
<th>LastName_Phonetics</th>
</tr>


<tr>
<!--Corresponding data columns-->
<td>{{data.data['student_id']}}</td>
<td>{{data.data['first_name'] }}</td>
<td>{{data.data['last_name']}}</td>
<td>{{data.data['first_name_p']}}</td>
<td>{{data.data['last_name_p']}}</td>
</tr>
</table>

<table border="1">
<br></br>
<caption>Top 3 Recommendations : <br></br></caption>

<tr>
<!--Heading columns for recommendations-->
<th>FirstName_Phonetics</th>
<th>LastName_Phonetics</th>
</tr>

<tr>
<!--Corresponding data coloumns for recommendations-->
<td><input type="radio" name= "option" value=data.data.first_name_p_eng[0]>{{ data.data.first_name_p_eng[0] }}</td>
<td><input type="radio" name= "option" value=data.data.last_name_p_eng[0]>{{data.data.last_name_p_eng[0]}}</td>
</tr>

<tr>
<td><input type="radio" name= "option" value=data.data.first_name_p_eng[1]>{{ data.data.first_name_p_eng[1] }}</td>
<td><input type="radio" name= "option" value=data.data.last_name_p_eng[1]>{{data.data.last_name_p_eng[1]}}</td>
</tr>

<tr>
<td><input type="radio" name= "option" value=data.data.first_name_p_eng[2]>{{ data.data.first_name_p_eng[2] }}</td>
<td><input type="radio" name= "option" value=data.data.last_name_p_eng[2]>{{data.data.last_name_p_eng[2]}}</td>
</tr>

</table>
<br></br>
<input type="submit" value="Submit">
</form>
</body>
</html>